# Build output
target
# flatten-maven-plugin output
.flattened-pom.xml
# Eclipse files
.project
.classpath
.settings/
# IntelliJ IDEA files
.idea/
*.iml
# NetBeans files files
nb-configuration.xml
nbactions.xml
